<h1 class="contents-title">ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "(例)aaa@bbb.com" %>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "６文字以上" %><br><br>
  <%= f.submit "ログイン" %>
<% end %>
<br>
<div class="sign-up-message">
  New user? <%= link_to 'Sign up now!', new_user_path %>
</div>
